---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import SocialIcons from '../components/SocialIcons.astro';
import { SITE_DATA } from '../constants';
import portraitImage from '../assets/portrait.jpeg';

import '../styles/about.css';
---

<Layout pageTitle="About">
    <div class="page-container">
        <h1>About</h1>

        <div class="about-content">
            <div class="about-intro-wrapper centered-column">
                <div class="about-header centered-column">
                    <Image src={portraitImage} alt={SITE_DATA.name} class="about-portrait" />
                    <h2 class="about-name">Vivek<br/>Karunai Kiri Ragavan</h2>
                    <SocialIcons size={24} gap="1.2rem" />
                </div>

                <p class="intro-text">
                    Vivek Karunai Kiri Ragavan is a Software Engineer at Red Hat, with a Master's degree
                    in Computer and Information Technology from Purdue University. With over 5 years of
                    professional experience, Vivek has built a strong foundation in Networks, Software
                    Engineering, and Kubernetes. His current focus is on AI/ML Infrastructure and Cloud
                    Native, specifically in KServe and autoscaling. He is also a co-organizer of
                    <a href="https://community.cncf.io/cloud-native-rtp/" target="_blank" rel="noopener noreferrer">Cloud Native RTP</a>.
                    In his downtime, Vivek immerses himself in the excitement of Cricket and Formula 1,
                    and has a love for road trips. Whether it's brainstorming innovative ideas in open-source
                    software, scaling cloud infrastructure, or chatting about his favorite sports, Vivek is
                    always eager to connect and share ideas. Feel free to reach out at
                    <a href="mailto:contact@vivekk16.com">contact@vivekk16.com</a> to discuss technology or
                    trade road trip stories!
                </p>
            </div>
        </div>
    </div>
</Layout>
