---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Presentations">
    <div class="page-container">
        <h1>Presentations</h1>
        <p class="intro-text">Coming soon.</p>
    </div>
</Layout>
