---
import { SITE_DATA } from '../constants';
---

<div class="footer-container">
	<div class="footer-content">
		<div class="copyright">&copy; {new Date().getFullYear()} {SITE_DATA.name} &middot; Powered by <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a></div>
	</div>
</div>
